@model HOCAF.Models.EstadoFicha

@{
    ViewBag.Title = "EliminarEstadoFicha";
}

<h2>Eliminar estado ficha</h2>

<h3>¿estas seguro de quere eliminar este estado de ficha?</h3>
<div>
    <h4>Estado Ficha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar estado ficha" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
