@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <div class="text-center">
       <h2>¡Bienvenido(a)!</h2>
       <label>@ViewBag.NombreUsuario</label>
       <p>Usted ingreso como @Session["Rol"].ToString()</p>
   </div>
</div>


