@model HOCAF.Models.Trimestre

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Trimestre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "detalles", new { id = Model.idTrimestre }) |
    @Html.ActionLink("Vover a la lista", "Index")
</p>
