@model HOCAF.Models.TipoDocumento

@{
    ViewBag.Title = "EliminarTipoDocumento";
}

<h2>Eliminar tipo de documento</h2>

<h3>¿Seguro(a) desea eliminar este tipo de documento?</h3>
<div>
    <h4>Tipo documento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreDocumento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
