@model HOCAF.Models.TipoDocumento

@{
    ViewBag.Title = "DetallesTipoDocumento";
}

<h2>Detalles tipo documento</h2>

<div>
    <h4>Tipo documento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreDocumento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idDocumento }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
